<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="doctor" class="com.demo.Doctor">
        <property name= "qualification" value="MBBS"></property>
        <property name="nurse" ref="nurse"></property>
        <constructor-arg value="Dermatologist"></constructor-arg>
    </bean>

    <bean id="nurse" class="com.demo.Nurse">
        <property name="qualification" value="BSC. Nursing"></property>
    </bean>


</beans>